@page
@{
    Layout = null;
    ViewData["Title"] = "Hướng Dẫn Tham Gia Cuộc Thi Cá Koi";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng Dẫn Tham Gia Cuộc Thi Cá Koi</title>
    <link rel="stylesheet" href="~/css/Menu/Menu.css">
    <style>
        #main {
            background-image: url('/img/Match.webp');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <main id="main">
        <button class="back-button" onclick="window.history.back()">Trở về</button>
        <section class="page-section" id="portfolio">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Hướng Dẫn</h2>
            </div>
            <div class="contact-form">
                <div class="row">
        <div class="main-2">
            <div class="row">
                <div class="col">
                    <div class="specifically">
                        <h2>Đăng ký tài khoản</h2>
                        <div class="specifically">
                        <p style="text-align: left;">Bước 1: Vào phần đăng nhập đăng ký hoặc nhấn vào <a href="/Register"> đây </a> để tạo tài khoản    .</p>
                        <p style="text-align: left;">Bước 2: Nhập email, tên, mật khẩu.</p>
                        <p style="text-align: left;">Bước 3: Chọn vào ô trống điều kiện và nhấn nút Register.</p>

                        </div>
                    </div>
                </div>

                <hr style="border: 1px solid black; width: 100%;" />


                <div class="col">
                    <div class="specifically">
                        <h2>Đăng ký cuộc thi</h2>
                        <div class="specifically">
                        <p style="text-align: left;">Bước 1: Điền thông tin cá nhân và chụp cá Koi muốn dự thi cùng với thông tin cá Koi.</p>
                        <p style="text-align: left;">Bước 2: Xác nhận thông tin và gửi đơn đăng ký.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <footer id="footer">
        <div class="footer">
            <div class="footer-thongtin">
                <h2>Khái Quát</h2>
                <p style="text-align: justify;">
                    Koi World tổ chức các cuộc thi cá Koi uy tín hàng đầu nhằm vinh danh những người chơi cá Koi có kỹ năng chăm sóc và nuôi dưỡng đặc biệt. Chúng tôi mong muốn thúc đẩy phong trào và cộng đồng yêu thích cá Koi tại Việt Nam.
                </p>
            </div>
            <div class="footer-thongtin">
                <h2>Hoạt Động</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt="">Về Koi World</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Tuyển dụng</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Sự kiện và triển lãm cá Koi</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Báo chí nói về Koi World</li>

                    </ul>
                </div>
            </div>
            <div class="footer-thongtin">
                <h2>Thông Tin Hữu Ích</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href=""> Điều khoản sử dụng</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href=""> Chính sách bảo mật</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""><a href=""> Bản quyền hình ảnh</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-thongtin">
                <h2>Thông Tin Liên Lạc</h2>
                <div id="ketnoi">
                    CÔNG TY TNHH KOI WORLD<br>
                    Điện thoại: 0123 456 789 (Hotline)<br>
                    Email: info@koiworld.vn<br>
                    Địa chỉ: 123 Đường Cá Koi, Thành phố Cá Koi<br>
                    Giấy phép kinh doanh: 52-009/2021/TCDL-GP<br>
                </div>
                <div id="ketnoi">
                   
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/bcd15b30db.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>
