@page
@model JudgingModel

@{
    ViewData["Title"] = "Chấm điểm";
}

<h2>Chấm điểm cá Koi</h2>
<table class="table">
    <thead>
        <tr>
            <th>Giám khảo</th>
            <th>Điểm Dáng</th>
            <th>Điểm Màu Sắc</th>
            <th>Điểm Hoa Văn</th>
            <th>Tổng Điểm</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Giám khảo A</td>
            <td><input type="number" class="form-control" value="50"></td>
            <td><input type="number" class="form-control" value="30"></td>
            <td><input type="number" class="form-control" value="20"></td>
            <td>100</td>
        </tr>
    </tbody>
</table>

