@page
@{
    Layout = null;
    ViewData["Title"] = "Newspaper";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
    <link rel="stylesheet" href="~/css/Menu/Menu.css">
    <style>
        #main {
            background-image: url('/img/Match.webp');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    
    <main id="main">

        <button class="back-button" onclick="window.history.back()">Trở về</button>
        <section class="page-section" id="portfolio">
            <div class="">

                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Thông Tin Nổi Bật</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Functions item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="https://kanokoi.com/ca-koi-bekko">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiBekko.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                               
                                    <div class="portfolio-caption-heading">Koi Bekko</div>
                            
                                <div class="portfolio-caption-subheading text-muted">2 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://koilover.vn/chi-tiet-tin/kohaku-1-3305.html">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiKohaku.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Kohaku</div>
                                <div class="portfolio-caption-subheading text-muted">1 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-tancho">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiTancho.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Tancho</div>
                                <div class="portfolio-caption-subheading text-muted">2 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-taisho-sanke">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiTaisho.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Taisho Snake</div>
                                <div class="portfolio-caption-subheading text-muted">1 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-asagi">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiAsagi.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Asagi</div>
                                <div class="portfolio-caption-subheading text-muted">5 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-kawarimono">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiKawarimono.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Kawarimono</div>
                                <div class="portfolio-caption-subheading text-muted">3 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 7-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-ginrin-kohaku">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiGinrinkoihaku.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Gỉnin Kohaku</div>
                                <div class="portfolio-caption-subheading text-muted">1 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 8-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-kanoko">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiKanoko.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Kanoko</div>
                                <div class="portfolio-caption-subheading text-muted">3 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 9-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="https://kanokoi.com/ca-koi-shusui">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="ImgMenu" src="img/KoiShusui.webp" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Koi Shusui</div>
                                <div class="portfolio-caption-subheading text-muted">1 Tuổi - Nhật Bản</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <footer id="footer">
        <div class="footer">
            <div class="footer-thongtin">
                <h2>Khái Quát</h2>
                <p style="text-align: justify;">
                    Koi World là một trong những thương hiệu uy tín hàng đầu chuyên cung cấp các giống cá Koi chất lượng cao, mang lại giá trị và vẻ đẹp cho hồ cá của bạn. Chúng tôi không chỉ cung cấp các giống cá Koi Nhật Bản, mà còn tư vấn và hỗ trợ về cách chăm sóc, thiết kế hồ cá theo phong thủy để mang lại tài lộc và sự thịnh vượng cho gia đình bạn.
                </p>
            </div>
            <div class="footer-thongtin">
                <h2>Hoạt Động</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt="">Về Koi World</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Tuyển dụng</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Sự kiện và triển lãm cá Koi</li>
                        <li><img src="IMG/icon-arrowright.png" alt="">Báo chí nói về Koi World</li>
                    </ul>
                </div>
            </div>
            <div class="footer-thongtin">
                <h2>Thông tin hữu ích</h2>
                <div>
                    <ul>
                        <li><img src="IMG/icon-arrowright.png" alt=""> Điều khoản sử dụng</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""> Chính sách bảo mật</a></li>
                        <li><img src="IMG/icon-arrowright.png" alt=""> Bản quyền hình ảnh</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-thongtin">
                <h2>Thông tin liên lạc</h2>
                <div id="ketnoi">
                    CÔNG TY TNHH KOI WORLD<br>
                    Điện thoại: 0123 456 789 (Hotline)<br>
                    Email: info@koiworld.vn<br>
                    Địa chỉ: 123 Đường Cá Koi, Thành phố Cá Koi<br>
                    Giấy phép kinh doanh: 52-009/2021/TCDL-GP<br>
                </div>
                <div id="ketnoi">

                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/bcd15b30db.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>